.c-chatForm{
    position: absolute;
    bottom: 0;
    background: #EEEEEE;
    width: 99%;
    line-height: 60px;
    // min-height: 60px;
    &__form{
        &--input{
            width: 95%;
            min-height: 60px;
            background: #EEEEEE;
            border: none;
            outline: none;
            font-size: $font-size-3l
        }
    }
}