.c-index, .c-new{
    width: 100%;
    height: 700px;
    background: white;
    box-sizing: border-box;
    padding: 30px;
    &__one{
        width: 100%;
        &--img{
            height: 70%;
            background: gray;
        }
        &--middle{
            height: 17%;
            background: white;
        }
        &--bottom{
            height: 13%;
        }
    }
}




.c-newOne{//todo
    width: 30%;
    height: 240px;
    float: left;
    margin: 30px 20px;
    @include mq(){
        width: 100%;
        height: 150px;
        margin: 0 0 50px 0;
    }

    &__head, .c-index__one--head{
        width: 100%;
        height: 20%;
        background: black;
    }
    &__body{
        width: 100%;
        height: 80%;
        background: skyblue;
    }
}