// ==================================
// 
// ==================================



// ==================================
// header
// ==================================
.p-header{
    color: white;
    background:$background-header;
    font-size: $font-size-xl;

    width: 100%;
    height: 80px;
    display: flex;

    align-items: center;

    @include mq(){
        height: 60px;
        justify-content: space-between;
        padding:0 15px;
    }

    h1{
        font-family: 'Notable', sans-serif;
        margin:0 5%;
    }

    &__nav{

        ul{
            font-size: $font-size-l;
            display: flex;

            li{
                cursor: pointer;
                margin: 0 2%;
            }
        }
        @include mq(){
            display: none;
        }
    }
}








