@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*========================================
設定
========================================*/

/*========================================
mixinを設定
@include 関数名()で使えるようになる
========================================*/

/*========================================
base   デフォルト設定
========================================*/

html,
body {
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 0.1em;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  justify-content: center;
  align-items: center;
  background: #EEEEEE;
}

.item {
  text-decoration: none;
  color: black;
}

#l-header {
  background: #333;
  font-size: 24px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 414px) {
  #l-header {
    width: 100%;
    height: 60px;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 15px;
  }
}

#l-header h1 {
  font-family: "Notable", sans-serif;
  margin: 0 5%;
}

#l-header a {
  color: white;
  text-decoration: none;
}

#l-main {
  width: 100%;
  position: relative;
}

.c-nav ul {
  font-size: 18px;
  display: flex;
}

.c-nav ul li {
  cursor: pointer;
  margin: 0 5%;
}

.c-nav ul li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 414px) {
  .c-nav {
    display: none;
  }
}

.c-hamburger {
  width: 40px;
  height: 35px;
  display: none;
  position: relative;
}

@media screen and (max-width: 414px) {
  .c-hamburger {
    display: inline-block;
  }
}

.c-hamburger span {
  width: 100%;
  height: 5px;
  background: white;
  border-radius: 15px;
  position: absolute;
  left: 0;
}

.c-hamburger span:nth-of-type(1) {
  top: 0;
}

.c-hamburger span:nth-of-type(2) {
  top: 15px;
}

.c-hamburger span:nth-of-type(3) {
  bottom: 0;
}

.c-hero {
  width: 100%;
  height: 200px;
  background: linear-gradient(45deg, #5761b4 0%, #c142a0 100%);
  position: relative;
}

@media screen and (max-width: 414px) {
  .c-hero {
    width: 100%;
    height: 150px;
  }
}

.c-form {
  width: 100%;
  height: 100%;
}

.c-index {
  height: 100%;
}

.c-index__main {
  height: 70%;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}

.c-index__main--img {
  width: 110px;
  height: 110px;
  display: block;
  border-radius: 150px;
  background: skyblue;
  position: absolute;
  top: 20%;
}

.c-index__main--img img {
  width: 100%;
  height: 100%;
}

.c-index__main--detail {
  width: 13em;
  position: absolute;
  top: 20%;
  right: 5%;
  display: block;
  word-wrap: break-word;
}

@media screen and (max-width: 414px) {
  .c-index__main--detail {
    width: 50%;
  }
}

.c-index__price {
  height: 17%;
}

.c-index__bottom {
  height: 13%;
}

.c-article__block {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 30px;
  border-bottom: 1px solid;
  margin-bottom: 70px;
}

.c-article__block h3 {
  font-weight: bold;
  font-size: 14px;
}

.c-article__block--title {
  border: none;
}

.c-article__block--title p {
  font-size: 14px;
  color: #444444;
}

.c-article__profile {
  overflow: hidden;
}

.c-article__profile--name {
  width: 100%;
  height: 40px;
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.15);
  line-height: 40px;
  background: #EEEEEE;
  box-sizing: border-box;
  padding: 0 30px;
}

.c-article__profile--name h2 {
  font-weight: bold;
  font-size: 20px;
}

.c-article__profile--left {
  width: 150px;
  height: 150px;
  margin: 20px 0 0 0;
  float: left;
  border-radius: 150px;
}

.c-article__profile--right {
  float: left;
  margin: 40px;
}

.p-jobForm {
  width: 70%;
  background: white;
  border-radius: 10px;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 100px 50px;
  margin: auto auto 100px auto;
}

@media screen and (max-width: 414px) {
  .p-jobForm {
    width: 90%;
  }
}

.p-profileImg {
  width: 15%;
  height: 60%;
  background: gray;
  border: 6px solid #333;
  border-radius: 240px 15px 100px 15px/15px 200px 15px 185px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .p-profileImg {
    width: 40%;
    height: 60%;
  }
}

.p-mypage {
  display: flex;
}

.p-mypage__main {
  width: 70%;
  height: 800px;
  box-sizing: border-box;
  padding: 70px;
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.15);
  background: white;
  margin: 0 0 0 10%;
}

.p-mypage__sidebar {
  width: 25%;
  height: 800px;
  box-sizing: border-box;
  padding: 40px;
}

.p-topHeader {
  width: 100%;
  height: 60px;
  background: #6666CC;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 60px;
}

@media screen and (max-width: 414px) {
  .p-topHeader {
    box-sizing: border-box;
    padding: 0 30px;
  }
}

.p-topHeader__nav {
  align-items: center;
}

.p-topHeader__nav ul {
  font-size: 18px;
  display: flex;
}

.p-topHeader__nav ul li {
  cursor: pointer;
  margin: 0 5%;
}

.p-topHeader__nav ul li a {
  text-decoration: none;
  color: white;
}

.p-indexHeader {
  width: 100%;
  height: 40px;
  background: #66CC99;
  line-height: 40px;
}

.p-bills {
  height: 700px;
}

.p-bill {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  padding: 30px 0;
  overflow: hidden;
}

.p-bill__one {
  border: 1px solid;
  float: left;
}

.p-bill__small {
  padding: 0;
  margin-bottom: 40px;
}

.p-bill__large--one {
  width: 30%;
  height: 300px;
  margin: 15px;
}

@media screen and (max-width: 414px) {
  .p-bill__large--one {
    width: 99%;
    margin: 15px auto;
  }
}

.p-bill__small--one {
  width: 22%;
  height: 240px;
  margin: 0 14px;
}

@media screen and (max-width: 414px) {
  .p-bill__small--one {
    width: 99%;
    margin: 15px auto;
  }
}

